#carousel-example-generic {
    height: 267px;
    width: 1500px;
    margin-top: 50px;
    margin-left: -373px;
    display: block;
}

.item a {
    float: left;
    margin-right: 70px;
}

.float p {
    font-family: Myfont;
    margin-top: 25px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(85, 85, 85);
}