#ribbon {
    width: 155px;
    height: 85px;
    margin: 50px auto 0;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
}

#ribbon .container1 {
    position: relative;
    width: 135px;
    height: 75px;
    overflow: hidden;
    margin: 0 auto;
}

#ribbon .base {
    height: 65px;
    width: 155px;
    background: rgb(243, 73, 73);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c73b3c', endColorstr='#b8201f', GradientType=0);
    position: relative;
    z-index: 2;
    margin-left: -5px
}

#ribbon .left_corner {
    width: 200px;
    height: 100px;
    background: rgb(243, 73, 73);
    position: absolute;
    bottom: 7px;
    left: -4px;
    z-index: 1;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
}

#ribbon .right_corner {
    width: 100px;
    height: 100px;
    background: rgb(243, 73, 73);
    position: absolute;
    bottom: 7px;
    right: 45px;
    z-index: 1;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.Menu {
 
    
    font-size: 20px;
   
    margin-top: -60px;
    margin-left: 20px;
    font-family: MyfontB;
 
  
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3;
  text-align: center;
  position: absolute;
    z-index: 162;

}

